{% extends 'flatpages/default.html' %}

{% load censor_filter %}
{% load custom_tags %}

{% block title %}
posts
{% endblock title %}

{% block content %}
    <h1>Все публикации</h1>
    <form action="" method="get">
        {{ filterset.form.as_p }}

        <br>
        <input type="submit" value="Найти" />
    </form>
    {% for obj in filter.qs %}
        {{ obj.title }} - ${{ obj.category }}<br />
    {% endfor %}
    <hr>
        {% if perms.Portal.add_post %}
            <a href="{% url 'news_create' %}">Создать запись</a>
        {% endif %}
    {% if posts %}
    <table>
        <tr>
            <td>Название</td>
            <td>Дата публикации</td>
            <td>Содержание</td>
        </tr>
        {% for post in posts %}
        <tr>
            <td>{{ post.title }}</td>
            <td>{{ post.time_in }}</td>
            <td>{{ post.text|truncatechars:20 }}</td>
            {% if perms.Portal.change_post %}
                <td><a href="{% url 'news_update' pk=post.id %}">Изменить</a></td>
            {% endif %}
            {% if perms.Portal.delete_post %}
                <td><a href="{% url 'post_delete' post.id %}">Удалить</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <h2>Постов нет!</h2>
    {% endif %}

<br>
<br>
<br>

    {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}
